@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

:root {
    --font-sans: 'Poppins', sans-serif;

    /* your custom color */
    --color-primary: #FD4621;
}

@layer components {
    .bg-primary {
        background-color: var(--color-primary);
    }

}
@layer components {
    .color-primary {
        color: var(--color-primary);
    }
}
